/* SIZES */
$h_header: 966px
$h_block_1: 949px
$h_block_2: 1080px
$h_block_3: 993px
$h_footer: 900px
$h_bg_box_video: 856px

$w_btn_scr_d: 102px
$h_btn_scr_d: 66px
$btn_scr_d_left: -($w_btn_scr_d/2)
$btn_scr_d_top: -($h_btn_scr_d/2)

$b_left_left: 6%
$b_left_right: (100% - $b_left_left)


$w_btn_play: 566px
$h_btn_play: 234px
$btn_play_left: -($w_btn_play/2)

$w_devis: 948px
$h_devis: 149px
$devis_left: -($w_devis/2)


/* SOURCES */
$bg_header: url(../img/1_HEADER/1_HEADER_bg.jpg)

$bg_block_11: url(../img/2_CHARS/2_CHARS_bg_Isolda.jpg)
$bg_block_12: url(../img/2_CHARS/2_CHARS_bg_Pamela.jpg)
$bg_block_13: url(../img/2_CHARS/2_CHARS_bg_Lleyn.jpg)

$bg_block_2: url(../img/3_VIDEO/3_VIDEO_shadow_top.png)
$bg_block_3: url(../img/4_MOUNT/4_MOUNT_bg.jpg)
$bg_footer: url(../img/5_FOOTER/5_FOOTER_BG.jpg)

$btn_scroll_d: url("../img/6_BUTTONS/BTN_scroll_normal.png")
$btn_scroll_dHover: url("../img/6_BUTTONS/BTN_scroll_hover.png")
$btn_scroll_dActive: url("../img/6_BUTTONS/BTN_scroll_active.png")

$btn_play: url("../img/6_BUTTONS/BTN_play_normal.png")
$btn_playHover: url("../img/6_BUTTONS/BTN_play_hover.png")
$btn_playActive: url("../img/6_BUTTONS/BTN_play_active.png")

$devis: url("../img/5_FOOTER/5_FOOTER_head.png")

