@import "reset"
@import "var"

body
	margin: 0px auto
	height: 100vh
	max-width: 1920px
	
header, article, footer, .box-video
	background-size: cover
	position: relative

.btn_scroll_down
	position: absolute
	background: $btn_scroll_d
	width: $w_btn_scr_d
	height: $h_btn_scr_d
	bottom: 1%
	left: 50%
	margin-left: $btn_scr_d_left

	&:hover
		background: $btn_scroll_dHover

	&:active
		background: $btn_scroll_dActive

.b_left, .b_right
	top: 50%
	margin-top: $btn_scr_d_top

.b_left
	transform: rotate(90deg)
	left: $b_left_left

.b_right
	transform: rotate(-90deg)
	left: $b_left_right

header
	height: $h_header
	background: $bg_header

.logo, .slogan
	position: absolute
	left: 50%
	margin-left: -326px

.slogan
	top: 50%
	margin-top: -170px
	margin-left: -404px

.btn_play
	background: $btn_play
	width: $w_btn_play
	height: $h_btn_play
	position: absolute
	left: 50%
	margin-left: $btn_play_left
	background: $btn_play

	&:hover
		background: $btn_playHover

	&:active
		background: $btn_playActive

header > .btn_play
	bottom: 10%

.block-1 section
	height: $h_block_1

.block-11
	background: $bg_block_11

.block-12
	background: $bg_block_12

.block-13
	background: $bg_block_13

.block-12, .block-13
	display: none

.box-video
	overflow: hidden
	height: $h_bg_box_video
	background: $bg_block_2

.block-2
	max-height: $h_block_2
	
.block-3
	height: $h_block_3
	background: $bg_block_3

footer
	height: $h_footer
	background: $bg_footer

	& > .btn_play
		top: 20%

.devis
	background: $devis
	width: $w_devis
	height: $h_devis
	position: absolute
	left: 50%
	margin-left: $devis_left	
	top: 4%



/* .grid
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-auto-rows: $h_cell
	grid-gap: $gr_gap

	& div
		background-color: $bgc_cell
		border: 1px solid $bor_col
		border-radius: 5px
		font-size: 26px
		color: white
		cursor: pointer
		line-height: $h_cell
		text-align: center */
